.container {
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.097) 0%,
        rgba(255, 255, 255, 0.028) 100%
    );
    display: flex;
    border-radius: 18px;
    padding: 20px 20px;
    align-items: center;
    margin-top: 15px;
    gap: 15px;
}

.logo, .progress, .title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    height: auto;
    width: 50px;
    align-items: center;
}

.title p {
    font-family: Satoshi;
    font-size: 17px;
    font-weight: 700;
    line-height: 32.39px;
    text-align: left;
}

.progress{
    margin-left: 20px;
}

.progress p {
    font-family: Satoshi;
    font-size: 14px;
    font-weight: 500;
    line-height: 26.99px;
    text-align: center;
}

.button {

    justify-content: flex-end;
    margin-left: auto;
}

.button p {
    background: linear-gradient(139.96deg, #14F195 0%, #608ED2 38.54%, #9945FF 67.16%);
    padding: 3px 14px;
    border-radius: 6px;


}

@media screen and (max-width: 400px) {

    .container{
        padding: 10px 10px;

    }
 
    .title p , .progress p{

        font-size: 12px;



    }

}